{% extends 'navLayout.twig' %}
{% block content %}
<br>
    <form class="mx-auto w-1/2" method="post" action="/portfolio">
        <label for="email" class="block text-sm font-bold mb-2">Email to sent:</label>
        <input id="email" type="email" name="email" class="border rounded w-full py-2 px-3">

        <label for="amount" class="block text-sm font-bold mt-4 mb-2">Amount:</label>
        <input id="amount" type="text" name="amount" class="border rounded w-full py-2 px-3">

        <label for="symbol" class="block text-sm font-bold mt-4 mb-2">Currency:</label>
        <select id="symbol" name="symbol" class="border rounded w-full py-2 px-3">
            {% for crypto in owned %}
                {% if crypto.crypto_count != 0 %}
                    <option value="{{ crypto.crypto_name }}">{{ crypto.crypto_name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <label for="password" class="block text-sm font-bold mt-4 mb-2">Confirm password:</label>
        <input id="password" type="password" name="password" class="border rounded w-full py-2 px-3">

        <button class="px-4 bg-gray-800 text-left font-bold text-white border-l" type="submit">
            Send
        </button>
    </form><br><br>

    <div class="flex justify-center items-center mb-6">
        <div class="flex justify-center items-center mb-6">
            <div class="form-group form-check">
                {% if success  %}
                    {% for suc in success %}
                        <p class="font-semi-bold text-green-600 capitalize lg:text-1xl ml-3">
                            X {{ suc }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center mb-6">
        <div class="flex justify-center items-center mb-6">
            <div class="form-group form-check">
                {% if errors %}
                    {% for error in errors %}
                        <p class="font-semi-bold text-red-600 capitalize lg:text-1xl ml-3">
                            X {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <h1 class="text-xl font-bold mb-2 flex justify-center">Owned Cryptocurrencies - Total Value: ${{ moneyInCrypto|round(2) }}</h1>
    <div class="w-full">
        <table class="mx-auto">
            <thead>
            <tr class="bg-gray-800 text-left font-bold text-white">
                <th class="text-sm font-semibold p-2 ">Coin</th>
                <th class="text-sm font-semibold  p-2 ">Amount</th>
                <th class="text-sm font-semibold  p-2 ">Current value</th>
                <th class="text-sm font-semibold  p-2 ">Bought value</th>
                <th class="text-sm font-semibold  p-2 ">Profit / Loss</th>
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for crypto in owned %}
                {% if crypto.crypto_count != 0 %}
                <tr class="odd:bg-gray-100">
                    <td class="p-2 border-t border-gray-200 text-left">{{ crypto.crypto_name }}</td>
                    <td class="p-2 border-t border-gray-200 text-left">{{ crypto.crypto_count }}</td>
                    <td class="p-2 border-t border-gray-200 text-left">${{ (crypto.current_price * crypto.crypto_count)|round(2)}}</td>
                    <td class="p-2 border-t border-gray-200 text-left">${{ crypto.crypto_price|round(2) }}</td>
                    <td class="p-2 border-t border-gray-200 text-left">
                        {% set profit_loss_percent = (crypto.current_price * crypto.crypto_count)|round(2) - crypto.crypto_price|round(2) %}

                        {% if profit_loss_percent >= 0 %}
                            Profit: {{ profit_loss_percent|round(2) }}$
                        {% else %}
                            Loss: {{ profit_loss_percent|abs|round(2) }}$
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
