{% extends 'navLayout.twig' %}
{% block content %}
<div class="flex justify-center">
       <div class="flex flex-col items-center pb-10">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name:   {{ auth.name }}</h5>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Email:   {{ auth.email }}</h5>
            <form action="/deposit" method="post">
                <label for="amount">Enter amount to increase or decrease balance:</label><br><br>
                <div class="flex items-center justify-center ">
                    <div class="flex border-2 border-gray-200 rounded">
                        <input type="number" id="amount" name="amount" step="0.01"><br><br>

                        <button class="px-4 bg-gray-800 text-left font-bold text-white border-l" type="submit" value="Deposit">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
<div class="px-6 py-4">
    <h1 class="text-xl font-bold mb-2 flex justify-center">Transaction History</h1>
    <form action="/profile" method="post">
    <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
            <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 rounded">
                <input type="search" id="symbol" name="symbol" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Symbol" aria-label="Search" aria-describedby="button-addon2">
           </div>
        </div>
    </div>
    </form>
    <div class="w-full">
        <table class="mx-auto">
        <thead>
        <tr class="bg-gray-800 text-left font-bold text-white">
            <th class="text-sm font-semibold p-2 ">Symbol</th>
            <th class="text-sm font-semibold  p-2 ">Transaction Type</th>
            <th class="text-sm font-semibold  p-2 ">Amount</th>
            <th class="text-sm font-semibold  p-2 ">Price</th>
            <th class="text-sm font-semibold  p-2 ">Time</th>
        </tr>
        </thead>
        <tbody>
        {% for crypto in crypto|reverse %}
        <tr class="odd:bg-gray-100">
            <td class="p-2 border-t border-gray-200 text-center">{{ crypto.name }}</td>
            <td class="p-2 border-t border-gray-200 text-center">{{ crypto.transaction }}</td>
            <td class="p-2 border-t border-gray-200 text-center">{{ crypto.count }}</td>
            <td class="p-2 border-t border-gray-200 text-center">{{ crypto.price }}$</td>
            <td class="p-2 border-t border-gray-200 text-center">{{ crypto.time }}$</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}