{% extends 'navLayout.twig' %}
{% block content %}
{% for crypto in cryptoCurrencies.owned %}
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
    {% if crypto.crypto_count != 0 %}
        {{ crypto.crypto_name }} {{ crypto.crypto_count }} - {{ crypto.crypto_price }}$</h5>
    {% endif %}
{% endfor %}

{# //CARD #}
<div class="flex justify-center">
    {% for cryptoCurrency in cryptoCurrencies %}
        <div class="relative inline-block w-1/3 my-4 rounded shadow bg-white px-4 py-6 flex items-center">
            <div class="ml-4">
                <h3 class="text-xl font-bold">{{ cryptoCurrency.symbols }} - {{ cryptoCurrency.name }}</h3>
{#                {% if cryptoCurrency.symbols == ownedCrypto[0].crypto_name %}#}
{#                    You own {{ ownedCrypto[0].crypto_count }} {{ cryptoCurrency.symbols }}#}
{#                {% endif %}#}
{#                <p class="block font-bold mb-2 text-gray-700 text-lg">You own {{ ownedCrypto[0].crypto_count }} {{ cryptoCurrency.symbols }}</p>#}
                <img width="32" src="{{ cryptoCurrency.logoURL }}" alt="logo">
                <p class="text-gray-600">Price: {{ cryptoCurrency.price|number_format(2) }}$</p>
                <p class="text-gray-600">1h change:
                    <span class="{% if cryptoCurrency.percentChange1h < 0 %}text-red-600{% else %}text-green-600{% endif %}">
                            {{ cryptoCurrency.percentChange1h|number_format(2) }}% </span></p>
                <p class="text-gray-600">24h change:
                    <span class="{% if cryptoCurrency.percentChange24h < 0 %}text-red-600{% else %}text-green-600{% endif %}">
                            {{ cryptoCurrency.percentChange24h|number_format(2) }}% </span></p>
                <p class="text-gray-600">7d change:
                    <span class="{% if cryptoCurrency.percentChange7d < 0 %}text-red-600{% else %}text-green-600{% endif %}">
                            {{ cryptoCurrency.percentChange7d|number_format(2) }}% </span></p>
                {% if cryptoCurrencies|length == 1 and auth.name is defined%}
                    <form class="mb-4" action="/buy" method="post">
                        <label class="block font-bold mb-2 text-gray-700 text-lg">Amount to buy:</label>
                        <input  id="product" name="product" value="{{ cryptoCurrency.symbols }}" type="hidden"/>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="quantity" name="quantity" step="0.0001"/>
                        <button type="submit"  class="bg-green-500 hover:bg-green-700 text-white text-center py-2 px-4 rounded">Buy</button>
                    </form>
                    <form class="mb-4" action="/sell" method="post">
                        <label class="block font-bold mb-2 text-gray-700 text-lg">Amount to sell:</label>
                        <input id="product" name="product" value="{{ cryptoCurrency.symbols }}" type="hidden"/>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="quantity" name="quantity" step="0.0001"/>
                        <button type="submit"  class="bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded">Sell</button>
                    </form>
                    <form class="mb-4" action="/sellShort" method="post">
                        <label class="block font-bold mb-2 text-gray-700 text-lg">Amount to short:</label>
                        <input id="product" name="product" value="{{ cryptoCurrency.symbols }}" type="hidden"/>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" id="quantity" name="quantity" step="0.0001"/>
                        <button type="submit"  class="bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded">Short</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}